/* RESET BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABILI */
:root {
    --bgcolor: #f5f5f0;
    --maintxtcolor: #1a1a1a;
    --widgetcolor: #002b24;
    --widgettxtcolor: #a5d6a7;
    --visitedlinkcolor1: #ad522b;
    --visitedlinkcolor2: #dd6a38;
}

html, body {
    font-size: 100%;
    font-family: "Atkinson Hyperlegible", Roboto, sans-serif;
    line-height: 1.5em;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bgcolor);
    color: var(--maintxtcolor);
    /*max-width: 1200px;*/
    margin: auto;
    overflow-x: hidden;
}

header, main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 1em;
}

a:link {
    color: var(--maintxtcolor);
}

a:visited {
    color: var(--visitedlinkcolor1);
}

/* HEADER */
header {
    padding: 0em 1em;
    margin: 1em auto;
}

/* MENU */
#menu {
    background-color: var(--widgetcolor);
    color: var(--bgcolor);
    border-radius: 30px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    font-weight: bold;
    justify-content: space-between;
}

#menu p, a.logo-menu {
    width: 60px;
    height: 60px;
    min-width: 60px; /* Dimensione fissa perché non vogliamo che rimpicciolisca */
    background-image: url("../img/logo_chiaro.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
    text-indent: -9999em;
    overflow: hidden;
}

#menu ul {
    display: flex;
    overflow-x: hidden; /* Correzione MOMENTANEA per evitare lo split dello schermo su mobile. DA CAMBIARE */
    padding: 0 2em;
    gap: 3em;
    list-style: none;
}

#menu a:link {
    color: var(--bgcolor);
}

#menu a:visited {
    color: var(--visitedlinkcolor2);
}

button, a.stile-bottone-1, a.stile-bottone-2, a.stile-bottone-3 {
    display: inline-block;
    background-color: var(--widgetcolor);
    color: var(--bgcolor);
    font-size: 1em;
    font-weight: bold;
    border: 3px solid var(--widgetcolor);
    border-radius: 30px;
    padding: 0.6rem 1.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    transition: all 0.3s;
}

button {
    cursor: pointer;
}

#hamburger {
    display: none;
}

#menu a.stile-bottone-1 {
    background-color: var(--bgcolor);
    color: var(--widgetcolor);
    border: 3px solid var(--bgcolor);
    margin: 0;
}

#menu a.stile-bottone-1:hover {
    background-color: var(--widgetcolor);
    color: var(--bgcolor);
}

#menu a.stile-bottone-1:visited {
    color: var(--visitedlinkcolor1);
}

#menu a.stile-bottone-1:visited:hover {
    color: var(--visitedlinkcolor2);
    background-color: var(--widgetcolor);    
}

.stile-bottone-2:visited {
    color: var(--visitedlinkcolor2);
}

button:hover, .stile-bottone-2:hover {
    background-color: var(--bgcolor);
    color: var(--widgetcolor);
}

.stile-bottone-2:visited:hover {
    color: var(--visitedlinkcolor1);
    background-color: var(--bgcolor);
}

.elimina {
    color: #f00;
    background-color:var(--bgcolor);
}

#menu .stile-bottone-3 {
    margin: 0;
    border: 3px solid var(--bgcolor);
}

a.stile-bottone-3 {
    color: var(--widgetcolor);
    background-color: var(--bgcolor);
    border: 6px solid var(--bgcolor);
}

a.stile-bottone-3:hover {
    border: 6px solid var(--visitedlinkcolor2);
}

#bottone-indietro {
    float: left;
}

/* MENU PER MOBILE */
#ham-menu {
    position: absolute;
    height: 0;
    overflow: hidden;
}

/* BREADCRUMB */

#breadcrumb {
    display: inline-block;
    white-space: nowrap;
    color: var(--maintxtcolor);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    border: 3px solid var(--widgetcolor);
}

#breadcrumb a:link {
    color: var(--maintxtcolor);
}

#breadcrumb a:visited {
    color: var(--visitedlinkcolor1);
}

/* MAIN */

main {
    padding: 0.8em;
    text-align: center;
}

main h1 {
    font-size: 2.5em;
    padding-bottom: 0.8em;
}

.desc {
    font-size: 1.2em;
}

.desc.uno {
    font-size: 1.3em;
    font-weight: bold;
}

.secondo-contenuto {
    background-color: var(--widgetcolor);
    color: var(--bgcolor);
    padding: 1em 0 2em 0;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

.secondo-contenuto > *, .terzo-contenuto > *, .form-appuntamenti > * {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

.secondo-contenuto img {
    width: 30%;
    height: auto;
    min-width: 300px;
}

.secondo-contenuto ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    padding: 0 2em;
    margin: 0 auto;
    justify-content: center;
}

.secondo-contenuto ol li {
    display: flex;
    flex-direction: column;
    background-color: var(--widgettxtcolor);
    color: var(--maintxtcolor);
    padding: 1em;
    flex: 0 0 300px;
    border-radius: 30px;
    counter-increment: item;
}

.secondo-contenuto ol li::before { /* Marker non permette modifiche di posizione, solo ::before */
    content: counter(item);
    font-size: 2em;
    font-weight: bold;
    color: var(--widgetcolor);
    margin-bottom: 0.5em;
}

.aiuto {
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    text-indent: -999em;
}

.aiuto:focus {
    position: static;
    text-indent: 0em;
}

.terzo-contenuto dl, .terzo-contenuto, .form-appuntamenti {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 2em 0;
}

.terzo-contenuto dl div, .terzo-contenuto div, .terzo-contenuto article, .form-appuntamenti div {
    flex: 1 1 300px;
    padding: 1em;
}

.terzo-contenuto dt, .terzo-contenuto li, .form-appuntamenti li{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.terzo-contenuto, .form-appuntamenti {
    max-width: 80%;
    margin: auto;
}

.terzo-contenuto img, .form-appuntamenti img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.terzo-contenuto-sottocontenuto p {
    font-size: 1.1em;
    text-align: left;
    margin-bottom: 0.5em;
}

.piu-info {
    max-width: 50%;
    margin: auto;
}

.piu-info p:first-child {
    font-weight: bold;
    font-size: 1.2em;
    margin: 1em auto;
}

.piu-info span {
    display: block;
}

hr {
    border: 3px solid var(--widgetcolor);
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 3em;
}

/* GALLERIA ANIMALI */

.galleria {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.elemento-galleria a, .card {
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 300px;
}

.elemento-galleria img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}

.elemento-galleria a > div, .dettagli-animale .card > p {
    position: relative;
    width: 100%;
    padding: 0.7rem 1.8rem;
    color: var(--bgcolor);
    background-color: var(--widgetcolor);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.elemento-galleria .label-elemento, .dettagli-animale .label-elemento {
    text-align: center;
    font-size: 1.5em;
}

.elemento-galleria .genere {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.5em;
    height: 1.5em;
    border-radius: 0px;
}

/* DETTAGLI ANIMALE */

.dettagli-animale ul {
    list-style: none;
    text-align: left;
}

.dettagli-animale .card img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
}

/* FOOTER */

footer {
    color: var(--bgcolor);
    background-color: var(--widgetcolor);
    padding: 2em;
    text-align: center;
}

footer > * {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

footer .stile-bottone-3 {
    margin-bottom: 3em;
}

.torna-su::before {
    content: "";
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    background-image: url("../img/freccia-su.webp");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 0.5em;
}

footer .crediti {
    color: var(--bgcolor);
}

.crediti:visited {
    color: var(--visitedlinkcolor2);
}

/*FORM*/

form {
    border: 3px solid var(--widgetcolor);
    border-radius: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    margin-top: 1em;
    max-width: 600px;
}

form label {
    font-size: 1.1em;
    display: block;
    text-align: left;
    width: 50%;
    margin: auto;
    margin-top: 1.3em;
    font-weight: bold;
}

/* form p {
    text-align: left;
    width: 50%;
    margin: auto;
} */

input, textarea {
    display: block;
    margin: auto;
    width: 50%;
    border: 2px solid var(--widgetcolor);
    border-radius: 10px;
    padding: 0.8em 1em;
}

textarea {
    resize: vertical;
    min-height: 5em;
}

.info-form, .form-errors ul li {
    width: 50%;
    margin: auto; 
    text-align: left;
    font-size: 0.9em;
    line-height: 1.4em;
    list-style-position: inside;
}

form .req, .form-errors ul li {
    color: #f00;
}

.wave {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    display: block;
    margin-top: -0.1em;
    margin-bottom: -0.1em;
}

#filtri {
    float: left;
    margin-top: 2em;
    width: 20%;
    border: none;
}

.piu-info {
    clear: both; /* Lo forzo ad andare giù per non seguire il float */
}

fieldset {
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #fafafa;
    padding: 1em;
}

legend {
    font-weight: bold;
}

fieldset label {
    display: flex;
    align-items: center;
    gap: 0;
    margin-bottom: 0.75em;
    cursor: pointer;
}

fieldset input[type="radio"] {
    margin: 0;
}

.prenotazioni {
    width: 60%;
    margin: auto;
    text-align: left;
}

.prenotazioni ul {
    list-style: none;
    padding: 0;
}

.prenotazioni li {
    border: 2px solid #ddd;
    padding: 1.2em;
    padding-left: 2em;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prenotazioni p:first-child {
    font-size: 1.4em;
    font-weight: bold;
}

.prenotazioni li p {
    margin: 0.3rem 0;
}

.profilo {
    margin: auto;
    text-align: center;
}

.profilo img {
    width: 120px;
    height: 120px;
    padding: 0.5rem;
    margin-right: 2em;
    display: inline-block;
    vertical-align: middle;
}

.profilo div {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.profilo p {
    font-size: 1.2em;
    margin: 0;
    padding-bottom: 1em;
}

.profilo p:first-child {
    font-weight: bold;
    font-size: 1.4em;
}

.success {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    margin-bottom: 1.5em;
}

.appuntamenti {
    margin-top: 3em;
}